# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python distribution / build files
build/
dist/
*.egg-info/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log